// Variables
$red-main: #ef5735;
$tan-main: #faf0d6;
$shadow: #949876;

@keyframes tip-over-left {
  0% {
  }
  100% {
    transform: rotate(-90deg);
    transform-origin: bottom left;
  }
}

@keyframes tip-over-right {
  0% {
  }
  100% {
    transform: rotate(90deg);
    transform-origin: bottom left;
  }
}

body {
  position: relative;
}

main {
  background: $tan-main;
  position: fixed;
  height: 100%;
  width: 100vw;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.somchange {
  margin: 0;
  display: block;
}

.item {
  position: absolute;
  z-index: 1;
}

#baby {
  position: absolute;
  z-index: 100;
}

.scenery {
  position: absolute;
  z-index: 0;
}

#rug {
  bottom: 0%;
  left: 50%;
  width: 600px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
}

#rug img {
  width: 100%;
}

#baby {
  bottom: 15%;
  left: 41.5%;
}

#sofa {
  top: 10%;
  left: 38%;
}

#stool {
  top: 45%;
  left: 20%;
}


.tip-right {
  animation: tip-over-right 0.3s 1 ease-in forwards;
}

.tip-left {
  animation: tip-over-left 0.3s 1 ease-in forwards;
}