// Variables
$red-main: #ef5735;
$tan-main: #faf0d6;
$shadow: #949876;

@font-face {
  font-family: 'Oswald';
  src: url('fonts/oswald-variablefont_wght-webfont.woff2') format('woff2'), url('fonts/oswald-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes tip-over-left {
  0% {
  }
  100% {
    transform: rotate(-90deg);
    transform-origin: bottom left;
  }
}

@keyframes tip-over-right {
  0% {
  }
  100% {
    transform: rotate(90deg);
    transform-origin: bottom left;
  }
}

body {
  font-family: Oswald, sans-serif;
  font-weight: 300;
  position: relative;
}

main {
  background: $tan-main;
  position: fixed;
  height: 100%;
  width: 100vw;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.somchange {
  margin: 0;
  display: block;
}

.item {
  position: absolute;
  z-index: 1;
}

#baby {
  // border: 2px solid red;
  // border-top-color: turquoise;
  // border-bottom-color: blue;
  // border-left-color: lavenderblush;
  // border-right-color: red;
  height: 192px;
  width: 244px;
  position: absolute;
  z-index: 100;
  transition: all 0.3s;

  &.going-right img {
    transform: scaleX(1);
    transition: all 0.3s;
  }

  &.going-left img {
    transform: scaleX(-1);
    transition: all 0.3s;
  }

  &.going-up img {
    transform: rotate(-90deg);
    transition: all 0.3s;
  }

  &.going-down img {
    transform: rotate(90deg);
    transition: all 0.3s;
  }
}

.scenery {
  position: absolute;
  z-index: 0;
}

#rug {
  bottom: 0%;
  left: 50%;
  width: 600px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  img {
    width: 100%;
  }
}

#scoreboard {
  color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 30px;
  width: 200px;
  padding: 10px;
  border-radius: 8px;
  top: 20px;
  right: 20px;
  background-color: rgba(83, 40, 20, 0.7);
  .title {
    align-self: flex-start;
  }
  #score {
    align-self: center;
    font-size: 30px;
  }
}

#baby {
  bottom: round(10%);
  left: round(41.5%);
}

#sofa {
  top: 10%;
  left: 38%;
}

#stool {
  top: 45%;
  left: 20%;
}

.tip-right {
  animation: tip-over-right 0.3s 1 ease-in forwards;
}

.tip-left {
  animation: tip-over-left 0.3s 1 ease-in forwards;
}
