// Variables
$red-main: #ef5735;
$tan-main: #faf0d6;
$shadow: #949876;

main {
  background: $tan-main;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.items , #baby{
  position: absolute;
  z-index: 1;
}

#baby {
  bottom: 10vh;
  left: 50vh;
}

#sofa {
  top: 50vh;
  left: 50vh;
}

#stool {
  top: 50vh;
  left: 70vh;
}

