@keyframes tip-over-left {
  100% {
    transform: rotate(-90deg);
    transform-origin: bottom left;
  }
}
@keyframes tip-over-right {
  100% {
    transform: rotate(90deg);
    transform-origin: bottom left;
  }
}
@keyframes bgOpacity {
  0% {
    background-color: rgba(0, 0, 0, 0.85);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.95);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.85);
  }
}
@keyframes rocking {
  0% {
    transform: rotate(0deg);
  }
  3.33% {
    transform: rotate(1deg);
  }
  6.67% {
    transform: rotate(2deg);
  }
  10% {
    transform: rotate(3deg);
  }
  13.33% {
    transform: rotate(4deg);
  }
  16.67% {
    transform: rotate(5deg);
  }
  20% {
    transform: rotate(6deg);
  }
  23.33% {
    transform: rotate(7deg);
  }
  26.67% {
    transform: rotate(8deg);
  }
  30% {
    transform: rotate(9deg);
  }
  33.33% {
    transform: rotate(10deg);
  }
  36.67% {
    transform: rotate(11deg);
  }
  40% {
    transform: rotate(12deg);
  }
  43.33% {
    transform: rotate(13deg);
  }
  46.67% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(15deg);
  }
  53.33% {
    transform: rotate(14deg);
  }
  56.67% {
    transform: rotate(13deg);
  }
  60% {
    transform: rotate(12deg);
  }
  63.33% {
    transform: rotate(11deg);
  }
  66.67% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(9deg);
  }
  73.33% {
    transform: rotate(8deg);
  }
  76.67% {
    transform: rotate(7deg);
  }
  80% {
    transform: rotate(6deg);
  }
  83.33% {
    transform: rotate(5deg);
  }
  86.67% {
    transform: rotate(4deg);
  }
  90% {
    transform: rotate(3deg);
  }
  93.33% {
    transform: rotate(2deg);
  }
  96.67% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
}

main {
  background: #faf0d6;
  bottom: 0;
  height: 100vh;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 0;
}

h1 {
  font-size: 60px;
  letter-spacing: 1.25px;
  margin: 0;
  padding: 0;
  text-align: center;
}

p {
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 0 0 5px 0;
  padding: 0;
  text-align: center;
}

#info {
  background-color: white;
  border-radius: 16px;
  cursor: pointer;
  left: 60%;
  opacity: 0;
  padding: 15px 30px;
  position: absolute;
  top: 1%;
  transition: all 0.5s;
  z-index: 1000;
}
#info .close {
  cursor: pointer;
  padding: 5px;
  position: absolute;
  right: 20px;
  top: 5px;
  transition: all 0.5s;
}
#info.show {
  opacity: 1;
  transition: all 0.5s;
}

#instructions h2 {
  margin-left: 20px;
}
#instructions ol li {
  font-size: 20px;
}
#instructions ol li span {
  font-weight: 500;
}

#instructionsLink {
  position: absolute;
  bottom: 5px;
  right: 10px;
}
#instructionsLink a {
  font-size: 90%;
  text-decoration: none;
}

.item {
  position: absolute;
  z-index: 5;
}

.floor-crease {
  color: #271c02;
  height: 2px;
  left: 0;
  position: absolute;
  top: 45%;
  width: 100%;
  z-index: 1;
}

.left-crease {
  color: #271c02;
  height: 45%;
  left: 20%;
  position: absolute;
  top: 0;
  width: 2px;
  z-index: 1;
}

.right-crease {
  color: #271c02;
  height: 45%;
  left: 20%;
  position: absolute;
  top: 1;
  width: 2px;
  z-index: 0;
}

#baby {
  bottom: 0px;
  height: 192px;
  left: 42%;
  position: absolute;
  transition: all 0.3s;
  width: 244px;
  z-index: 100;
}
#baby.going-right img {
  transform: scaleX(1);
  transition: all 0.3s;
}
#baby.going-left img {
  transform: scaleX(-1);
  transition: all 0.3s;
}
#baby.going-up img {
  transform: rotate(-90deg);
  transition: all 0.3s;
}
#baby.going-down img {
  transform: rotate(90deg);
  transition: all 0.3s;
}

#babyName {
  margin-bottom: -4px;
}

#baby-lose {
  animation: rocking 0.5s infinite;
}

#baby-win {
  animation: rocking 1s infinite;
}

#modalBG {
  animation: bgOpacity 5s infinite;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 100;
}

#startModal,
#endModal {
  background-color: white;
  border-radius: 16px;
  left: 50%;
  padding: 5px 50px 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s;
  z-index: 101;
}
#startModal .enter-name,
#endModal .enter-name {
  margin: 0 auto;
  text-align: center;
}
#startModal input,
#endModal input {
  display: block;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 1px;
  border: 1px solid grey;
  border-radius: 16px;
  margin: 0 auto;
  padding: 5px 20px;
  text-align: center;
}
#startModal button,
#endModal button {
  background-color: green;
  border: 1px solid grey;
  border-radius: 16px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 10px auto;
  padding: 5px 20px;
  transition: all 0.3s;
}
#startModal button:disabled,
#endModal button:disabled {
  background-color: #555;
  opacity: 0.25;
  transition: all 0.3s;
}
#startModal button:hover,
#endModal button:hover {
  background-color: darkgreen;
  transition: all 0.3s;
}

#endModal {
  z-index: -29;
}

.scenery {
  position: absolute;
  z-index: 3;
}

#scoreboard {
  background-color: rgba(83, 40, 20, 0.7);
  border-radius: 8px;
  color: white;
  display: flex;
  height: 30px;
  justify-content: space-between;
  padding: 15px;
  position: absolute;
  right: 30px;
  top: 10px;
  width: 200px;
  z-index: 99;
}

#scoreTitle {
  margin-top: -7px;
}

#damages {
  align-self: center;
  font-size: 30px;
  transition: all 0.3s;
}

#cabinet {
  left: 80%;
  top: 50%;
}

#rug {
  bottom: 0px;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  width: 600px;
}
#rug img {
  width: 100%;
}

#sofa {
  top: 35%;
  left: 38%;
}

#smallbookshelf {
  left: 75%;
  top: 4%;
}

#smallpot {
  left: 64%;
  top: 45%;
}

#stool {
  top: 45%;
  left: 20%;
}

#twincabinet {
  left: 5%;
  top: 5%;
}

#wallhangings {
  top: 0;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, 0%);
}

.hide {
  opacity: 0;
  transition: all 0.5s;
}

.mischief-managed {
  color: white;
  font-size: 150%;
  font-weight: 500;
  transition: all 0.2s;
}

.tip-right {
  animation: tip-over-right 0.3s 1 ease-in forwards;
}

.tip-left {
  animation: tip-over-left 0.3s 1 ease-in forwards;
}

.gone {
  display: none;
  transition: all 1s;
}

#vol {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  opacity: 0.2;
  padding: 5px 10px;
  width: 200px;
  height: 25px;
  top: 10px;
  left: 15px;
  z-index: 2000;
  transition: all 0.3s;
}
#vol label {
  left: 15px;
  position: absolute;
  top: 4px;
}
#vol input {
  cursor: pointer;
  left: 70px;
  position: absolute;
  top: 7px;
}
#vol:hover {
  opacity: 1;
  transition: all 0.3s;
}